 {
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "commonjs"
      }
    ],
    [
      "react-app",
      {
        "helpers": false,
        "absoluteRuntime": false
      }
    ]
  ]
}